<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Project</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      
        <a class="navbar-brand" href="/">RPSE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/create">Create</a>
              </li>
          </ul>
        </div>
    </nav>
    <br>
      
      <h2 class='text-center display-9 my-1' style="color: rgb(2, 2, 97);">Revenue Planning System for E-Commerce</h2>
      <br>
      <div class="container-fluid">


<form action="/store" method="POST">

    <div class="form-group">
      <label for="administrative">Administrative</label>
      <input type="number" class="form-control" id="administrative" name="administrative" value="0">
    </div>

    <div class="form-group">
      <label for="administrative_duration">Administrative Duration</label>
      <input type="number" class="form-control" id="administrative_duration" name="administrative_duration" value="0">
    </div>
    
    <div class="form-group">
        <label for="informational">Informational</label>
        <input type="number" class="form-control" id="informational" name="informational" value="0">
      </div>
      
    <div class="form-group">
        <label for="informational_duration">Informational Duration</label>
        <input type="number" class="form-control" id="informational_duration" name="informational_duration" value="0">
      </div>
      
    <div class="form-group">
        <label for="productrelated_duration">Product Related Duration</label>
        <input type="number" class="form-control" id="productrelated_duration" name="productrelated_duration" value="0">
      </div>
      
    <div class="form-group">
        <label for="productrelated">Product Related</label>
        <input type="text" class="form-control" id="productrelated" name="productrelated" value="0">
      </div>
      
    <div class="form-group">
        <label for="bouncerates">Bounces Rates</label>
        <input type="number" class="form-control" id="bouncerates" name="bouncerates" value="0">
      </div>
      
    <div class="form-group">
        <label for="exitrates">Exit Rates</label>
        <input type="text" class="form-control" id="exitrates" name="exitrates" value="0">
      </div>
      
    <div class="form-group">
        <label for="pagevalues">Page Values</label>
        <input type="number" class="form-control" id="pagevalues" name="pagevalues" value="0">
      </div>
      
    <div class="form-group">
        <label for="specialday">Special Day</label>
        <input type="number" class="form-control" id="specialday" name="specialday" value="0">
      </div>
      
    <div class="form-group">
        <label for="month">Month</label>
        <input type="text" class="form-control" id="month" name="month" value="Feb">
      </div>
      
    <div class="form-group">
        <label for="operatingsystems">Operating Systems</label>
        <input type="number" class="form-control" id="operatingsystems" name="operatingsystems" value="0">
      </div>
      
    <div class="form-group">
        <label for="browser">Browser</label>
        <input type="number" class="form-control" id="browser" name="browser" value="0">
      </div>
                    
    <div class="form-group">
        <label for="region">Region</label>
        <input type="number" class="form-control" id="region" name="region" value="0">
      </div>
                    
    <div class="form-group">
        <label for="traffictype">Traffic Type</label>
        <input type="number" class="form-control" id="traffictype" name="traffictype" value="0">
      </div>
                    
    <div class="form-group">
        <label for="visitortype">Visitor Type</label>
        <input type="text" class="form-control" id="visitortype" name="visitortype" value="Returning_Visitor">
      </div>
                    
    <div class="form-group">
        <label for="weekend">Weekend</label>
        <input type="text" class="form-control" id="weekend" name="weekend" value="FALSE">
      </div>
                    
    <div class="form-group">
        <label for="revenue">Revenue</label>
        <input type="text" class="form-control" id="revenue" name="revenue" value="FALSE">
      </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</table>
</div>
<div class="row justify-content-center">
  <footer class="sticky-footer bg-white">
    <div class="container my-auto">
      <div class="copyright text-center my-auto">
        <span>Copyright &copy; Asyraf Ilmansyah Hia 2020</span>
      </div>
    </div>
  </footer>
  
</div>
</body>